@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap');

.top-header {
  font-family: 'Source Sans Pro', sans-serif;
  height: 400px;
  padding-top: 2.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d7971f;
  background-image: url("/images/beige-paper.png");
}

.name {
  margin: auto;
  color: floralwhite;
  font-weight:400;
}

@media only screen and (min-width: 1024px) {
  .top-header {
    height: 20em;
    width: 20em;
    margin-top: 1.7em;
    margin-right: 1em;
  }
}