@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap');

header {
  font-family: 'Source Sans Pro', sans-serif;
  height: 400px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d7971f;
  background-image: url("/images/beige-paper.png");
}

.name {
  margin: auto;
}