.tweet-container {
  border: 3px solid rgb(71, 71, 71);
  margin: 40px 0px;
  background-color: #f4f1ec;
  display: flex;
  flex-direction: column;
}

.tweet-container:hover {
  box-shadow: 4px 4px 3px;
  scale: 1.01;
  transition: 0.5s ease-in-out;
}

.tweet-container header {
  height: auto;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.image {
  width: 3em;
  height: 3em;
}

.username{
  margin-top: 1em;
  margin-right: 30em;
}

.handle{
  margin-top: 1em;
  margin-left: 23em;
  font-weight: 600;
  color: rgb(170, 170, 170);
}

.tweet-container article {
  width: 98%;
  margin: auto;
  padding-bottom: 2em;
  font-weight: 400;
}

.tweet-container footer {
  padding: 1%;
  width: 98%;
  margin-left: 0.5em;
  border-top: 3px solid rgb(71, 71, 71);
  display: flex;
  justify-content: space-between;
}

.small-icons a {
  padding-right: 10px;
  color: #4055a1;
}

.small-icons a:hover {
  color: #caa347;
}